* {
    background-color: #9dbed1;
}

h1 {
    font-size: 2rem;
    color: #14829f;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: #14829f;
} 

h3 {
    font-size: 1.3rem;
    color: #ffffff;
}

a {
    background-color: #14829f;
    color: #003048;
    text-decoration: none;
    padding: 20px;
}